{exp:favorites:info member_id="{if segment_3}{segment_3}{if:else}{embed:member_id}{/if}" disable_pagination="yes"}
    	{exp:favorites:edit return="manage/favoritestarform/{if segment_3}{segment_3}{if:else}{embed:member_id}{/if}" form:class="favorite_form" favorite_id="{favorites:favorite_id}"}
            <input type="hidden" name="delete" value="yes">
            <input type="submit" name="submit" value="Remove" />
        {/exp:favorites:edit}
    {if favorites:no_results}
        {exp:favorites:form return="manage/favoritestarform/{if segment_3}{segment_3}{if:else}{embed:member_id}{/if}" form:class="favorite_form" member_id="{if segment_3}{segment_3}{if:else}{embed:member_id}{/if}"}
            <input type="hidden" name="collection" value="jobs" />
            <input type="submit" name="submit" value="Add" />
        {/exp:favorites:form}
    {/if}
{/exp:favorites:info}