{embed="default_site:Includes/.Source"}
		{embed="Includes/.Files"}
		<link type="text/css" rel="stylesheet" href="{site_url}assets/css/manage.css" />
		
		<script type="text/javascript">
			$(document).ready(function(){
				$(".status_forms").ajaxForm({
					dataType: 'json',
                    success: function(data) {
						console.log(data);
                    }
				});
				$(".status_forms select").change(function(){
					$(this).parent().submit();
				});
			});
		</script>
	</head>
	
	<body>
		{embed="default_site:Includes/.Header"}
		
		<div class="container">
			<div class="col-xs-12 col-md-2">
				{embed="Includes/.Sidebar"}
			</div>
			<div class="col-xs-12 col-md-10">
				<h3 class="page_title">Your Posted Jobs</h3>
				<div class="col-xs-6 filters">
					<div class="filter_search">
						<label for="filter_search">FILTER JOBS</label>
						<input type="text" name="filter_search" />
					</div>
					<div class="filter_limit">
						<label for="filter_limit">Show Number</label><br>
						<select name="filter_limit">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
						</select>
					</div>
				</div>
				<div class="col-xs-3 col-xs-offset-3">
					<a href="{path='manage/job'}" class="button greenButton">Create Req</a>
				</div>
				<table class="col-xs-12 manage_table">
					<tr>
						<th class="col-xs-1">Status</th>
						<th class="col-xs-2">Position</th>
						<th class="col-xs-3"># Interested</th>
						<th class="col-xs-2">Posted On</th>
						<th class="col-xs-1">Edit</th>
					</tr>
				{exp:channel:entries 
					channel="jobs" 
					author_id="CURRENT_USER" 
					limit="12" 
					dynamic="no" 
					paginate="bottom"
					status="open|closed|Hired"
				}
					<tr>
						<td>
							{embed="manage/.statusform" entry_id="{entry_id}"}
						</td>
						<td><a href="{permalink='manage/job'}">{title}</a></td>
						<td>
							{exp:favorites:count entry_id="{entry_id}"}
						</td>
						<td>{entry_date format="%F %j, %Y %g:%i %A"}</td>
						<td class="edit_links">
							<a href="">{exp:ce_img:single src="{global_url}assets/images/deleteIcon.png" height="25" class="deleteIcon"}</a>
						</td>
					</tr>
				
				{paginate}
					<p>Page {current_page} of {total_pages} pages {pagination_links}</p>
				{/paginate}
				{/exp:channel:entries}
			</div>
		</div>
		
		{embed="default_site:Includes/.Footer"}
	</body>
</html>