<!--

Site Created By

					        	
..,8888888888888D.88888888888888.:8888888.888888888I..I888888888=88888888888888.
 . $8888888888888..88888888888888.Z88888..:888888888.8888888888. 8888888888888~.
 ..888888...88888,O88888.  :88888 888888..O88888888888888888888..888888.......  
..888888O88888888.88888888888888:888888..O88888888888888888888..8888888888......
..8888888888888Z.88888888888888..888888..88888888888888~88888?..888888888~......
 888888====......88888D88888....888888..888888.8888888:888888..888888.... ......
.88888O.........888888.888888 ..88888O .88888O.888888.I88888,.,8888888888888....
888888.........,888887..8888O .888888..888888..88888..888888..8888888888888.....
888887 ..... ..888888. .$8888D:88888I..O88888..8888..888888..78888888888888 ....
                                                               
	
	
	BEN FJARE
	ben@prime-incorporated.com
	
	PRIME INCORPORATED
	BOZEMAN, MONTANA
	
	www.prime-incorporated.com 
	
	
-->


<!DOCTYPE HTML>

<html>
	<head>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<!-- JQUERY LIBRARY -->
			<script type="text/javascript" src="{global_url}assets/js/jquery.js"></script>	
	
		<!-- BOOTSTRAP -->
			<script type="text/javascript" src="{global_url}assets/bootstrap/js/bootstrap.min.js"></script>
			<link type="text/css" rel="stylesheet" href="{global_url}assets/bootstrap/css/bootstrap.min.css" />
	
	
		<!-- CSS STYLESHEETS -->		
			<link type="text/css" rel="stylesheet" href="{global_url}assets/css/reset.css" />
			<link type="text/css" rel="stylesheet" href="{global_url}assets/css/global.css" />
		
			
		<!-- JQUERY CYCLE -->
			<script type="text/javascript" src="{global_url}assets/js/cycle.js"></script>
			
		<!-- SAME HIGHT SCRIPT -->
			<script type="text/javascript" src="{global_url}assets/js/sameHeight.js"></script>	

	        <script type="text/javascript">
	        	$(document).ready(function() {
					resize();
				});
				
				$(window).resize(resize);
				
				function resize(){
					//set full height
					var navigation = $(".navbar").outerHeight(true);
					var footer = 0;
					var height = $(window).height() - (navigation + footer);
					$(".full-height").height(height);
					
					$(".center-vertically").each(function(){
						var margin = ($(this).parent().outerHeight() - $(this).outerHeight() ) / 2;
						$(this).css("margin-top", margin + "px");
					});
				}
	        </script>		
			<title> {if embed:pageTitle !=""}{embed:pageTitle} |{/if} {site_name}</title>
			<meta name="description" content="{embed:pageDescription}" />
			
			
			